.Sanju-Container{
    position: absolute; top: 10%; left: 38%;
    
    }
    
    .Sanju-Media-Container{
    border: 2px solid rgba(0, 0, 0, 0);
    width: 700px;
    position: relative; left: -310px;top: -45px;
    display: flex;
    justify-content: space-between;
    }
    
    .Sanju-Social-Media-Logo{
        height: 70px; width: 100px;
    }
    .Sanju-line{
        border-bottom: 2px solid brown;
        position: absolute; top: 19%;   left:25% ;
        width: 50%;
    }
    
    .Sanju-Boy-Logo{
        height: 60px; width: 60px;
        position: relative; left: 25%;
    }
    
    .Sanju-Image{
        box-shadow: 3px 3px 3px black;
        width: 350px; height: 190px;
        position: relative; top: -30px; left: -40px;
    }
    
    .Sanju-Para-Container{
    width: 700px;
    position: relative; left: -185px;
    }
    
    .Sanju-Back-Button{
        padding: 10px;
        color:black;
        background-color: azure;
        border-radius: 20px;
        position: relative; left: -470px; top: -50px;
        cursor: pointer;
    }
    
    .Sanju-Image-Name{
        color: rgb(255, 0, 187);
        position: absolute; left: 9%; top: 52%;
        font-size: 18px;
    }
    
    .Sanju-Date{
        position:relative; top: 10px; left: -120px;
    }
    .Sanju-Dimitry{
        position:relative; top: -9px; left: 90px;
    }
    
    @media only screen and (max-width:856px){
    
    .Sanju-Heading{
    position: relative; left: -120px;
    }
    
    .Sanju-line{
    position: relative; left: 11px; top: 110px;
    width: 100px;
    }
    
    .Sanju-Media-Container{
        position: relative; top: 10px; left: -290px;
    }
    
    .Sanju-Social-Media-Logo{
        position: relative; left: -420px; top: -65px;
    }
    
    .Sanju-Image{
        position: relative; left:-100px; top: 16px;
        height: 200px;
        width: 300px;
    }
    
    .Sanju-Image-Name{
        position: relative; left: -52px; top: 20px;
    }
    
    .Sanju-Para-Container{
        position: relative; left: -100px; top: 13px;
        width: 280px;
    }
    
    .Sanju-Back-Button{
        position: relative; left: -110px; top: 1050px;
    }
    
    }