.Movie1-Container{
    position: absolute; top: 10%; left: 38%;
    
    }
    
    .Movie1-Heading{
        position: relative; left: -70px;
    }
    
    .Movie1-Media-Container{
    border: 2px solid rgba(0, 0, 0, 0);
    width: 700px;
    position: relative; left: -310px;top: -35px;
    display: flex;
    justify-content: space-between;
    }
    
    .Movie1-Social-Media-Logo{
        height: 70px; width: 100px;
    }
    .Movie1-line{
        border-bottom: 2px solid brown;
        position: absolute; top: 19%;   left:21.5% ;
        width: 60%;
    }
    
    .Movie1-Boy-Logo{
        height: 60px; width: 60px;
        position: relative; left: 25%;
    }
    
    .Movie1-Image{
        box-shadow: 3px 3px 3px black;
        width: 350px; height: 190px;
        position: relative; top: -30px; left: -20px;
    }
    
    .Movie1-Para-Container{
    width: 700px;
    position: relative; left: -185px;
    }
    
    .Movie1-Back-Button{
        padding: 10px;
        color:black;
        background-color: azure;
        border-radius: 20px;
        position: relative; left: -470px; top: -50px;
        cursor: pointer;
    }
    
    .Movie1-Image-Name{
        color: rgb(255,0,187);
        position: relative; left: -6%; top: -3px;
        font-size: 18px;
    }
    
    .Movie1-Date{
        position:relative; top: 15px; left: -120px;
    }
    .Movie1-Dimitry{
        position:relative; top: -3px; left: 90px;
    }
    
    @media only screen and (max-width:856px){
    
    .Movie1-Heading{
        position: relative; left: -120px;
        width: 350px;
    }
    
    .Movie1-line{
    position: relative; left: 11px; top: 130px;
    width: 310px;
    }
    
    .Movie1-Media-Container{
        position: relative; top: 22px; left: -290px;
    }
    
    .Movie1-Social-Media-Logo{
        position: relative; left: -410px; top: -65px;
    }
    
    .Movie1-Image{
        position: relative; left:-100px; top: 16px;
        height: 200px;
        width: 300px;
    }
    
    .Movie1-Image-Name{
        position: relative; left: -92px; top: 20px;
        width: 310px;
    }
    
    .Movie1-Para-Container{
        position: relative; left: -100px; top: 13px;
        width: 280px;
    }
    
    .Movie1-Back-Button{
        position: relative; left: -110px; top: 1070px;
    }
    
    }