.War-Container{
    position: absolute; top: 10%; left: 38%;
    
    }
    
    .War-Media-Container{
    border: 2px solid rgba(0, 0, 0, 0);
    width: 700px;
    position: relative; left: -310px;top: -45px;
    display: flex;
    justify-content: space-between;
    }
    
    .War-Social-Media-Logo{
        height: 70px; width: 100px;
    }
    .War-line{
        border-bottom: 2px solid brown;
        position: absolute; top: 19%;   left:25% ;
        width: 50%;
    }
    
    .War-Boy-Logo{
        height: 60px; width: 60px;
        position: relative; left: 25%;
    }
    
    .War-Image{
        box-shadow: 3px 3px 3px black;
        width: 350px; height: 190px;
        position: relative; top: -30px; left: -20px;
    }
    
    .War-Para-Container{
    width: 700px;
    position: relative; left: -185px;
    }
    
    .War-Back-Button{
        padding: 10px;
        color:black;
        background-color: azure;
        border-radius: 20px;
        position: relative; left: -470px; top: -50px;
        cursor: pointer;
    }
    
    .War-Image-Name{
        color: rgb(255,0,187);
        position: absolute; left: 15%; top: 43%;
        font-size: 18px;
    }
    
    .War-Date{
        position:relative; top: 10px; left: -120px;
    }
    .War-Dimitry{
        position:relative; top: -9px; left: 90px;
    }
    
    @media only screen and (max-width:856px){
    
    .War-Heading{
    position: relative; left: -120px;
    }
    
    .War-line{
    position: relative; left: 11px; top: 110px;
    width: 100px;
    }
    
    .War-Media-Container{
        position: relative; top: 10px; left: -290px;
    }
    
    .War-Social-Media-Logo{
        position: relative; left: -420px; top: -65px;
    }
    
    .War-Image{
        position: relative; left:-100px; top: 16px;
        height: 200px;
        width: 300px;
    }
    
    .War-Image-Name{
        position: relative; left: -52px; top: 20px;
    }
    
    .War-Para-Container{
        position: relative; left: -100px; top: 13px;
        width: 280px;
    }
    
    .War-Back-Button{
        position: relative; left: -110px; top: 1350px;
    }
    
    }