h1:hover{
    color: chocolate;
}
h2:hover{
    color:green;
}
h3:hover{
    color:blueviolet;
}
h4:hover{
    color:deepskyblue
}

p{
opacity: 0.6;
}

.Travel{
font-style: italic;
}

p:hover{
    color:blue;
}
h5:hover{
    color:plum;
}

img:hover{
    opacity: 0.6;
    /* box-sizing:border-box; */
}