                     /* Fitness Data Css */
                     .Fitness-Container{
                        position:absolute; top: 30%; left: 9%;
                            }
                                                
                        .Fitness-Heading{
                            border-bottom: 2px solid red;
                            width: 70px;
                        }
                                                
                        .Fitness-Image{
                            height: 170px; width: 160px;
                            padding: 15px;
                        }
                                                
                        .Fitness-Image-Container{
                            display: flex;
                            flex-direction: column;
                                                   
                        }
                                                
                        .Fitness-Data-Container{
                            width: 320px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: absolute; top: 5%; left: 100%;
                        }
                                                
                                        /*   Fitness Top Post Css  */
                        .Fitness-Top-Post-Container{
                            position: absolute; top: 30%; left: 58%;
                        }
                                                                                            
                        .Fitness-Top-Post-Heading{
                            border-bottom: 2px solid red;
                        }
                                                                                            
                                                                                            
                        .Fitness-Top-post-Image-2{
                            height: 200px ; width: 300px;
                        }
                                                                                            
                                                                                            
                        .Fitness-Top-Post-Image-Name{
                            width: 230px;
                        }
                                                                                            
                        .Fitness-Top-Post-Image-Container{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: absolute; left: -3%; top: 102%;
                        }
                                                                                            
                        .Fitness-Top-Post-Data-Container{
                            width: 170px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: absolute; top: 100%; left: 35%;
                        }
                                                                                            
                        .Fitness-Top-Post-Number-Container{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            position: absolute; top: 72%; left: 92%;
                        }
                                                                                            
                        .Fitness-Top-Post-Image{
                                height: 70px; width: 80px;
                                padding: 15px;
                        }
                                                                                            
                        .Number{
                            color: gray;
                        }
                                                                    
                        .Fitness-Advertisement-Container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid black;
                        height: 630px; width: 300px;
                        position: absolute; top: 190%; left: 3%;
                        }
                        
                        .Link-Text{
                            text-decoration: none;
                        }
                        
                        @media only screen and (max-width:856px){
                            .Fitness-Container{
                                position: relative; top: 40px; left: 1px;
                            }
                        
                            .Fitness-Image{
                                height: 100px;
                                width: 100px;
                                padding-top: 120px;
                            }
                        
                            .Fitness-Image-Container{
                                position: relative; top: -120px; left: -7px;
                            }
                        
                            .F6,.F7{
                                position: relative; top: 20px;
                            }
                        
                            .Fitness-Data-Container{
                                position: relative; left: 190px;top: -1700px;left: 116px;
                                width: 220px;
                            }
                        
                            .Fitness-Top-Post-Container{
                                position: relative; top:-1650px; left: 1px;
                            }
                        
                            .Fitness-Advertisement-Container{
                                display: none;
                            }
                        }